body {
    font-family: 'Arial', sans-serif;
    background-color: transparent; /* Fundo transparente */
}

.botoes-servico {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin: 20px 0;
}

.botao {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 8px; /* Bordas ligeiramente arredondadas */
    color: #ffffff; /* Texto branco */
    text-decoration: none;
    font-size: 24px;
    background-color: #000000; /* Fundo preto */
    border: 2px solid #c92e1a; /* Bordas vermelhas */
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.botao:hover {
    background-color: #c92e1a; /* Fundo vermelho no hover */
    color: #ffffff; /* Texto branco no hover */
    border-color: #c92e1a; /* Bordas vermelhas no hover */
}
